
/* body{

  background-image: linear-gradient(white, aqua);
} */
.src{
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.repeat{
  width: 1400px;
  height: 500px;
  background-image: linear-gradient(white,blue);
}
.p-text{
  height: 200px;
  column-width: 300px;
  column-fill: balance;
  column-rule: 5px double black;
  text-align: justify;
  font-size: 9pt;
  background-image: linear-gradient(white, blue);
}
.div_menu{
  background-color: black;
  font-size: 20px;
}
.footer{
  text-align: center;
  color: #fff;
  padding: 0px;
  background: black;
}
